<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #h1tag {
            color:rgb(196, 19, 176);
        }
        body{
            background-color: skyblue;
        }
    </style>
</head>
<body>
    <center>
        
    <h1 id="h1tag">cocacola is one of the brand in cool drinks</h1>
    <a href="{% url "drinks:cocacola_response" %}"><h1>items</h1></a>

    </center>
</body>
</html>