<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: yellowgreen;
        }
        h1{
            color: blue;
        }
    </style>
</head>
<body>
    <center>
        <h1>pepsi</h1>
        <h1>sprite</h1>
        <h1>thums up</h1>
        <h1>fanta</h1>
        <button type="submit">
            <a href="{% url "drinks:cocacola" %}"<h1> Back</h1>
        </button>
    </center>
    
</body>
</html>